$medium: 900px;

:root {
  --text-color: black;
  --title-color: #a7a633;
  --background-color: #e9e9e6;
  --paragraph-color: #707070;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

body {
  font-family: "Open Sans", sans-serif;

  background-color: var(--background-color);
  padding-top: 100px;
  padding: 50px;

  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-weight: 300;
  }

  p {
    color: var(--paragraph-color);
  }

  .results {
    color: var(--text-color);
    font-size: 12px;
    margin: 12px 5px;
  }

  .sort-button {
    background-color: rgb(0, 153, 204);
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    padding: 0.7rem;
    border-radius: 10px;
    margin-bottom: 0.7rem;
    cursor: pointer;
    margin-right: 5px;
    letter-spacing: 1.2px;

    &:active {
      opacity: 0.7;
    }
  }

  .labels {
    background-color: rgb(205, 242, 255);
    border: 1px solid rgb(148, 204, 223);
    padding: 0.7rem;
    font-size: 0.9rem;
    border-radius: 10px;
    height: 20px;
  }

  header {
    width: 100%;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 6px 1px #e1e5e8;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 10px 20px;
    position: relative;

    input {
      width: 100%;
      text-overflow: ellipsis;
      display: inline-block;
      color: var(--text-color);
      font-size: 14px;
      outline: 0;
      transition: border 0.1s ease;
      resize: none;
      border: none;

      &::placeholder {
        color: #b6c1cd;
      }
    }

    .search-button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 10%;
      height: 100%;
      background-color: #0099cc;
      border: none;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.3px;
      color: white;
      cursor: pointer;

      &:active {
        opacity: 0.7;
      }
    }
  }

  a {
    color: var(--text-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
  }

  .see-more-less-btn {
    display: block;
    color: rgb(60, 190, 233);
    font-size: larger;
    font-weight: 600;
    margin-top: 5px;

    &:active {
      opacity: 0.85;
    }
  }

  .content-css {
    color: var(--paragraph-color);
  }

  .tickets {
    margin: 0;
    padding: 0;

    .ticket {
      overflow: hidden;
      margin: 15px;
      display: inline-block;
      padding: 10px 20px;
      position: relative;
      background-color: #fff;
      box-shadow: 0 2px 6px 1px #e1e5e8;
      width: 80%;
      &:hover {
        box-shadow: 0 2px 6px 1px #d3d7da;
      }

      .title {
        margin: 15px 0;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        color: var(--title-color);
      }

      .rename-button {
        background-color: var(--background-color);
        color: var(--text-color);
        border: none;
        padding: 0.7rem;
        border-radius: 10px;
        margin-bottom: 0.7rem;
        cursor: pointer;

        &:active {
          opacity: 0.8;
        }
      }

      footer {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $medium) {
          flex-direction: column;
        }
        .meta-data {
          color: var(--text-color);
          font-size: 12px;
          margin: 10px 0;
          flex-shrink: 0;

          @media screen and (max-width: $medium) {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
